@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {

}

body {

}

.form-item-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .form-item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms, transform 200ms;
  }
  .form-item-exit {
    opacity: 1;
    transform: scale(1);
  }
  .form-item-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 200ms, transform 200ms;
  }
